h1 {
  text-align: center;
}
section {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 3px solid royalblue;
}

div {
  width: 200px;
  aspect-ratio: 1;
  border: 2px solid royalblue;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#new-game {
  padding: 20px 30px;
  margin: 30px auto;
  background-color: royalblue;
  color: white;
  display: block;
  font-size: 1.2rem;
  border: none;
}

#new-game:disabled {
  background-color: grey;
}
